.block__title {
font-size: 1.5rem;
}

.field--name-field-image img {
  border-radius: 10px;
}

.field--name-title {
  font-size: 2rem;
  font-weight: bold;
  color: #6e7172;
}

/***** Product Teaser ******/
.view-id-products_list .views-view-grid__item-inner{
  border: 1px solid #eaf1f6;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 20px 0 #e3e6e8;
  padding-bottom: 1rem;
}

.view-id-products_list .field{
  margin-bottom: .75rem !important;
}

.view-id-products_list .field--name-field-image img{
  width: 100%;
}

.view-id-products_list .field--name-product-id{
  padding: 0 .75rem 0rem .75rem;
}

.view-id-products_list .field--name-product-id a{
  text-decoration: none;
}

.view-id-products_list .field--name-price{
  padding: 0 .75rem 0rem .75rem;
}

.view-id-products_list .field--name-field-image img {
  border-radius: 10px 10px 0 0;
}
